.address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
  margin-top: 15px;

  @include vp-1023 {
    max-width: 400px;
    justify-content: flex-start;
    margin-top: 10px;
    margin-right: 15px;
  }

  @include vp-769 {
    max-width: 300px;
    margin-top: 5px;
    margin-right: 5px;
  }
}

.address__link {
  display: flex;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-default-white;

  &:not(:nth-child(2n)) {
    margin-right: 114px;

    @include vp-1023 {
      margin-right: 25px;
    }
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }

  @include vp-1023 {
    width: auto;
  }
}

.address__link svg {
  margin-right: 15px;
}

.address__content {
  padding-right: 6px;

  @include vp-1023 {
    display: none;
  }
}
