.btn {
  display: inline-flex;
  padding: 15px 20px;

  font-family: $ff-roboto;
  text-transform: uppercase;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--blue {
    color: $color-alice-blue;

    background-color: $color-deep-sky-blue;
  }

  &--black {
    background-color: $color-black-pearl;
  }

  &--transparent {
    color: $color-deep-sky-blue;

    background-color: transparent;
    border: 1px solid $color-deep-sky-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
