.feedback {
  z-index: 1;
  position: relative;
  min-height: 840px;
  padding-top: 134px;
  padding-bottom: 231px;
  background-color: $color-light-sky-blue;

  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: -80px;
    left: -160px;
    width: 1265px;
    height: 950px;
    background-image: url("../img/shadow-feedback.svg");
    background-repeat: no-repeat;
    background-size: 1265px 950px;

    @include vp-1023 {
      display: none;
    }
  }

  @include vp-1023 {
    min-height: 580px;
    padding-top: 15px;
    padding-bottom: 107px;
  }

  @include vp-769 {
    min-height: 320px;
    padding-top: 13px;
    padding-bottom: 96px;
  }
}

.feedback__wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    justify-content: center;
  }
}

.feedback__wrapper picture {
  align-self: center;
  justify-content: space-between;
  flex-shrink: 2;
  margin-top: 34px;
  margin-right: 8.1%;

  @include vp-1023 {
    display: none;
  }
}

.feedback__form-wrapper {
  flex-basis: 602px;
  flex-shrink: 0;
  padding-top: 31px;
  padding-left: 7px;
  padding-right: 10px;

  @include vp-1023 {
    flex-grow: 1;
    padding: 30px 0 0 0;
  }

  @include vp-769 {
    flex-basis: 270px;
    flex-grow: 1;
    padding: 33px 25px 0 25px;
  }
}

.feedback__form {
  padding-left: 5px;

  @include vp-1023 {
    padding: 0;
  }
}

.feedback__form-wrapper h2 {
  margin: 0 0 12px 0;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-769 {
    margin-bottom: 8px;

    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__form-wrapper p {
  margin: 0 0 35px 0;
  padding-left: 5px;

  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 25px;
    padding: 0;
  }

  @include vp-769 {
    margin-bottom: 33px;

    font-size: 14px;
    line-height: 19px;
  }
}

.feedback__input-wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-769 {
    flex-direction: column;
  }
}

.feedback__bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-top: 14px;

  @include vp-1023 {
    column-gap: 28px;
  }

  @include vp-769 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

.feedback__input {
  width: 275px;

  @include vp-1023 {
    width: 47.9%;
  }

  @include vp-769 {
    width: 100%;
  }
}

.form__textarea textarea {
  padding-left: 15px;
  padding-top: 23px;

  @include vp-1023 {
    padding-top: 31px;
  }

  @include vp-769 {
    min-height: 180px;
    margin-bottom: 28px;
    padding-top: 23px;
  }
}

.feedback__button {
  padding-top: 15px;
  padding-bottom: 11px;

  @include vp-1023 {
    max-width: 265px;
    padding-top: 16px;
    padding-bottom: 10px;
  }

  @include vp-769 {
    max-width: 100%;
  }
}

.feedback__checkbox-approval {
  position: relative;
  padding-top: 10px;
  padding-left: 25px;

  @include vp-1023 {
    padding-top: 6px;
  }

  @include vp-769 {
    padding-top: 3px;
    padding-left: 30px;
  }
}

.feedback__checkbox-approval .input-message {
  left: 0;
  bottom: -37px;
}

.feedback__checkbox-approval label {
  line-height: 0;

  &::after {
    top: 7px;
  }

  &::before {
    top: 7px;
  }
}

.feedback__approval-span {
  display: block;
  margin-top: 6px;
  margin-left: -9px;

  @include vp-1023 {
    margin-left: -7px;
  }
}
