.nav {
  @include vp-1023 {
    max-width: 235px;
  }

  @include vp-769 {
    padding: 0 25px 20px;
  }
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  columns: 2;
  column-width: 235px;

  &::after {
    display: block;
    content: "";
    width: 220px;
    height: 22px;
  }
}

.nav__item {
  margin-bottom: 8px;
}

.nav__title {
  margin: 0 0 20px 0;

  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
}

.nav__link {
  color: $color-transparent;
  text-decoration: none;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: none;
    opacity: 0.6;
    border-bottom: 1px solid $color-alice-blue;
  }

  &:active {
    opacity: 0.3;
  }
}
